useDynLib(LRnetST, .registration=TRUE)
export("hcSC","hcSC_boot","hcSC_boot_parallel","SC_prepare","score_shd","cal_order","moral_graph","vstructures","skeleton","compare.vstructures")
importFrom(Rcpp, evalCpp)
